body {
  background-image: url(../../assets/img/background1.png);
  background-size: cover;
  background-repeat: repeat;
  animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

.animatescroll {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

.banner {
  background-image: url(../../assets/img/banner_blue.png);
  background-size: cover;
  background-position: center;
}

.amount {
  font-family: dogica;
  color: #00FFFF;
  -webkit-text-stroke: 0.2px black;
}

.searchinput:focus {
  outline: none;
}

.dropdown {
  background-image: url(../../assets/img/dropdown_img.png);
  background-size: cover;
}